.subscribe{
    padding-top: 1px;
  font-size: sans-serif;
  font-size: large;
  background-color: #fd5e53;
  height: 160px;
  width: 100%;
  margin-top: -20px;
  text-align: center;
  color: white;


}
.arrow-down {
/*   
    width: 80%; 
    
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 100px solid #fd5e53; */
    width: 0;
    border-top: 40px solid #fd5e53;
    border-left: 635px solid transparent;
    border-right: 635px solid transparent;
}
#subs-btn{
    padding: 10px 15px;
    background-color: #fd5e53;
    border-top: white solid;
    border-left: white solid;
    border-right: white solid;
    border-bottom: rgb(211, 210, 210) solid;
    color: white;
    font-size: 10px;
}
#subs-btn:hover{
    background-color: white;
    border-bottom: white solid;
    color: #fd5e53;
    cursor: pointer;
    
}

